h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: museo-sans, sans-serif;
  font-weight: 700;
}

.h1, h1 {
  @media(max-width:768px) {
    font-size:2.25rem;
  }
}

a {
  color: $dark;
  text-decoration: underline;
  &:hover {
    color: $secondary;
  }
}

.subfooter-links {
  margin-top: 1rem;
  & > a {
    text-decoration: underline;
  }
  span {
    margin: 0 10px;
  }
}

.alert {
  border-width: 0;
  padding-top: 32px;
  &:before {
    content: "";
    background-image: url(/images/wave.svg);
    width: 100%;
    display: block;
    height: 40px;
    margin-bottom: 30px;
    background-repeat: repeat-x;
    background-size: contain;
  }
  @media(min-width:1200px) {
    max-width: 621px;
    margin-left: calc((80% - 621px)/2);
    margin-right: calc((120% - 621px)/2);
  }
}

.btn,
.btn-clb {
  display: inline-block;
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px 28px;
  border: 0;
  border-radius: 3px;
  -webkit-box-shadow: 4px 4px 0 0 #02070d;
  box-shadow: 4px 4px 0 0 #02070d;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5555555556;
  background: $orange;
  color: $dark;
  -webkit-transition: background-color 0.4s, border-color 0.4s, color 0.4s;
  transition: background-color 0.4s, border-color 0.4s, color 0.4s;
  &:hover {
    color: $dark;
    border: 0;
    background: $yellow;
    text-decoration: underline;
    -webkit-transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  }
}

.breadcrumb li a {
  color: $dark;
  text-decoration: underline;
}

.td-page-meta {
  i {
    color: $blue;
  }
}
.td-toc a {
  padding: .25rem .5rem .25rem .75rem;
  display: inline-block;
}

ul.footer-nav {
  list-style: none;
  padding:0;
  li a {
    color: $dark;
    text-decoration: none;
    text-align:center;
    &:hover {
      color: $secondary;
      text-decoration:underline;
    }
    @media (min-width: 768px) {
      text-align:left;
    }
  }
}

.clb-navbar {
  display: none;
  flex-grow: 1;
  position: absolute;
  height: 100vh;
  width: 100%;
  background: $primary;
  top: 0;
  left: 0;
  padding: 45px 20px;
  align-items: flex-start;
  flex-flow: column nowrap;
  .td-navbar-nav-scroll {
    order: 2;
    ul.navbar-nav {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      li a span {
        display: block;
        padding: 10px 0;
        text-decoration: none;
        font-size: 20px;
        line-height: 1.4;
        color: #fff;
        @media (min-width: 992px) {
          padding: 0;
          font-size: 16px;
          line-height: 1;
          color: unset;
        }
      }
      @media (min-width: 992px) {
        flex-flow: row nowrap;
      }
    }
    @media (min-width: 992px) {
      order: 1;
      padding:0;
    }
  }
  .flex-fill {
    order: 3;
    @media (min-width: 992px) {
      order: 2;
    }
  }
  .navbar-search {
    order: 1;
    @media (min-width: 992px) {
      order: 3;
    }
  }
  @media (min-width: 992px) {
    flex-direction: row;
    display: flex;
    position: relative;
    height: auto;
    align-items: center;
    padding:0;
  }
}

.menu-toggler {
  z-index: 3;
}

body.menu-show #site-nav .clb-navbar{
  display:flex;
}

.menu-toggler {
    text-decoration:none;
  i.fa-times {
    display:none;
  }
  i.fa-bars {
    display:inline;
  }
}

body.menu-show .menu-toggler {
  i.fa-times {
    display:inline;
  }
  i.fa-bars {
    display:none;
  }
}


#TableOfContents {
  padding-left:10px;
}

.feedback--title {
  margin-top:50px;
}