/*

Add styles or override variables from the theme here.

*/

header {
  background: #0097ff;
}

#home-header {
  .navbar {
    margin-top: 0px;
    padding: 1.875rem 0;
  }

  .nav-link {
    color: #ffffff;
    margin-top: 30px;
    margin-right: 40px;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }

  .form-inline {
    margin-top: 30px !important;
  }

  .navbar-brand {
    padding-top: 32px;
    margin-right: 0;
  }

  #logo {
    width: 168px;
    height: 118px;
    left: 156px;
    top: 32px;
  }
}

#site-nav {
  // background-image: url(/images/lines.svg), linear-gradient(180deg, #283B52 0%, #005895 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  max-width: 1270px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  @media (min-width: 1440px) {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-link {
    font-family: usual, sans-serif;
    font-size: 12px;
    color: #02070d;
    font-weight: normal;
    line-height: 24px;
    text-decoration: none;
    @media (min-width: 1200px) {
      font-size: 16px;
    }
    &:hover,
    &.active {
      @media (min-width: 1024px) {
        color: white;
        background-color: #02070d;
      }
    }
  }
}

.td-outer {
  height: auto !important;
}

.td-main {
  .td-sidebar {
    padding: 12px 25px 0;
  }

  main {
    padding-top: 30px !important;
  }

  #td-sidebar-menu {
    position: relative;
    top: 0px;
    height: auto;

    .td-sidebar-nav {
      max-height: none;
    }
  }

  .td-toc {
    position: relative;
    top: auto;
    height: auto;
  }
}

#site-footer {
  background: #0097ff;
  color: #02070d;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  padding-top: 27px;
  padding-bottom: 27px;
  min-height: auto;
  p {
    margin-bottom: 0px;
    font-size:12px;
    text-align:left;
    line-height:1.5;
  }

  .footer-brand {
    padding: 20px;
    svg {
      height: 70px;
    }
  }
}

.sky-hero {
  #site-nav {
    background: none;
  }

  background-image: url(/images/lines.svg),
    linear-gradient(180deg, #283b52 0%, #005895 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  color: #ffffff;

  .container {
    padding-top: 128px;
    padding-bottom: 50px;
  }

  h1 {
    margin-bottom: 50px;
  }

  p {
    margin-bottom: 12px;
  }
}

.td-blog {
  .td-outer {
    padding-left: 0px;
    padding-right: 0px;

    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}

#site-footer,
.td-main .td-sidebar,
#site-nav {
  .td-search-input {
    background: #ffffff;
    background-image: url(/images/search-solid.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 94% center;
    border-radius: 0;
    color: #02070d;
    font-size: 14px;
    max-width: none;
    height: 40px;
    padding: 9px 30px 9px 15px;
    box-shadow: 0;
    border: 0;
  }

  .navbar-search .td-search-input {
    width:216px;
    max-width: 260px;
  }

  .td-search-input::placeholder {
    color: #6f7a87;
  }

  .td-search-input.form-control:focus {
    border-color: 2px solid #0097ff;
    border-radius: 3px;
  }
}

#site-footer .td-search-input {
  max-width:90%;
}
#site-nav {
  .navbar-brand {
    margin-right: 0;
  }
}
