/*

Add styles or override variables from the theme here.

*/

.td-home #home-header{
  background-image: url(/images/lines.svg), linear-gradient(180deg, #283B52 0%, #005895 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  
  .navbar {
    margin-top: 0px;
  }
  
  .nav-link {
    color: #FFFFFF;
    margin-top: 30px;
    margin-right: 40px;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }

  .form-inline {
    margin-top: 30px !important;
  }

  .navbar-brand {
    padding-top: 32px;
  }

  #logo {
    width: 168px;
    height: 118px;
    left: 156px;
    top: 32px;
  }

  .td-search-input {
    background: #FFFFFF;
    border-radius: 20px;
    width: 220px;
  }

  .td-search-input::placeholder {
    color: #596C84;
  }
}

.td-home {
  #hero {
    text-align: center;
    color: #FFFFFF;

    .text {
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 34px;
      letter-spacing: 0em;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    padding-bottom: 100px;

    .btn-lg {
      border-radius: 6px;
      border: none;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
      padding: 15px 35px;
      margin: 12px;
    }

    .btn-primary {
      background: #FFFFFF;
      color: #153E71;
    }

    .btn-secondary {
      background: #0097FF;
      color: #FFFFFF;
    }
  }

  .td-main {
    position: relative;
    top: -25px;

    .card {
      border-radius: 0;
      border: none;
      box-shadow: 0px 14px 32px rgba(0, 0, 0, 0.08);
      display: block;

      img {
        margin-top: 31px;
        margin-bottom: 25px;
      }

      h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;

        color: #153E71;
      }

      .description {
        padding: 0px 32px;
      }

      .action {
        padding: 15px 35px;
        margin-bottom: 32px;

        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #008AE9;
      }
    }

    .quote {
      margin-top: 80px;
      background: #FAFAFA;
      border-top: 12px solid #153E71;
      padding: 76px 96px;

      blockquote {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: #596C84;
      }

      cite {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        color: #153E71;

        strong {
          font-weight: bold;
        }
      }
    }
  }
}

#site-nav {
  background-image: url(/images/lines.svg), linear-gradient(180deg, #283B52 0%, #005895 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;

  .nav-link {
    color: rgba(255, 255, 255, 1.0);
  }

  .td-search-input {
    background: #FFFFFF;
    border-radius: 20px;
    width: 220px;
    color: #596C84;
  }

  .td-search-input::placeholder {
    color: #596C84;
  }
}

.td-outer {
  height: auto !important;
}

.td-main {
  .td-sidebar {
    padding-top: 12px;
  }

  main {
    padding-top: 12px !important;
  }

  #td-sidebar-menu {
    position: relative;
    top: 0px;
    height: auto;
  
    .td-sidebar-nav { 
      max-height: none;
    }
  }
  
  .td-toc {
    position: relative;
    top: auto;
    height: auto;
  }
}

#site-footer {
  background: #153E71;
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  padding-top: 27px;
  padding-bottom: 27px;
  min-height: auto;

  p {
    margin-bottom: 0px;
  }
}

.sky-hero {
  #site-nav {
    background: none;
  }

  background-image: url(/images/lines.svg), linear-gradient(180deg, #283B52 0%, #005895 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;

  color: #FFFFFF;

  .container {
    padding-top: 128px;
    padding-bottom: 50px;
  }

  h1 {
    margin-bottom: 50px;
  }

  p {
    margin-bottom: 12px;
  }
}

