{{- $bucketStorageTypes :=  list "s3" "gcs" -}}

{{- if .Values.backupRestore.medusa.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-medusa-config-k8ssandra
  labels: {{ include "k8ssandra.labels" . | indent 4 }}
data:
  medusa.ini: |-
    [cassandra]
    # The start and stop commands are not applicable in k8s.
    stop_cmd = /etc/init.d/cassandra stop
    start_cmd = /etc/init.d/cassandra start
  {{- if not .Values.cassandra.auth.enabled }}
    cql_username = cassandra
    cql_password = cassandra
  {{- end}}
    check_running = nodetool version

    [storage]
    storage_provider = {{ .Values.backupRestore.medusa.storage }}
{{- range $key, $value := .Values.backupRestore.medusa.storage_properties -}}
    $key = $value
{{- end }}
{{- if eq "local" .Values.backupRestore.medusa.storage -}}
    base_path = {{ .Values.backupRestore.medusa.bucketName }}
{{- else }}
    bucket_name = {{ .Values.backupRestore.medusa.bucketName }}
{{- end }}
    # TODO The file name needs to be parameterized. In the current set up it comes from the secret.
    key_file = /etc/medusa-secrets/medusa_s3_credentials
{{- if and .Values.backupRestore.medusa.multiTenant (has .Values.backupRestore.medusa.storage $bucketStorageTypes)}}
    prefix = {{ .Values.clusterName }}.{{ .Release.Namespace }}
{{- end }}

    [grpc]
    enabled = 1

    [kubernetes]
    cassandra_url = http://localhost:7373/jolokia/
    enabled = 1

    [logging]
    level = DEBUG
  {{- end }}