apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: cassandrarestores.cassandra.k8ssandra.io
spec:
  group: cassandra.k8ssandra.io
  names:
    kind: CassandraRestore
    listKind: CassandraRestoreList
    plural: cassandrarestores
    singular: cassandrarestore
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: CassandraRestore is the Schema for the cassandrarestores API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: CassandraRestoreSpec defines the desired state of CassandraRestore
          properties:
            backup:
              description: The name of the CassandraBackup to restore
              type: string
            cassandraDatacenter:
              properties:
                clusterName:
                  description: The name to give the C* cluster.
                  type: string
                name:
                  description: The name to give the new, restored CassandraDatacenter
                  type: string
              required:
                - clusterName
                - name
              type: object
            inPlace:
              description: When true the restore will be performed on the source cluster from which the backup was taken. There will be a rolling restart of the source cluster.
              type: boolean
          required:
            - backup
            - cassandraDatacenter
            - inPlace
          type: object
        status:
          description: CassandraRestoreStatus defines the observed state of CassandraRestore
          properties:
            failed:
              items:
                type: string
              type: array
            finishTime:
              format: date-time
              type: string
            finished:
              items:
                type: string
              type: array
            inProgress:
              items:
                type: string
              type: array
            restoreKey:
              description: A unique key that identifies the restore operation.
              type: string
            startTime:
              format: date-time
              type: string
          required:
            - restoreKey
          type: object
      type: object
  version: v1alpha1
  versions:
    - name: v1alpha1
      served: true
      storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []