{{- $certmanager := .Capabilities.APIVersions.Has "cert-manager.io/v1" -}}
{{- $webhooks := .Values.admissionWebhooks.enabled -}}
{{- $disableCertManagerCheck := .Values.disableCertManagerCheck -}}

{{- if and $webhooks (not $certmanager) (not $disableCertManagerCheck) -}}
  {{- fail (print "cass-operator webhooks require cert-manager to be installed in the cluster") }}
{{- end -}}

{{- $metricsHostname := regexFind "[^:]*" .Values.metrics.address -}}
{{- $metricsPort := regexFind "(?:)(\\d*)$" .Values.metrics.address -}}
{{- $exposeMetrics := and $metricsPort (not (eq "127.0.0.1" $metricsHostname )) -}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "k8ssandra-common.fullname" . }}
  labels: {{ include "k8ssandra-common.labels" . | indent 4 }}
    control-plane: {{ include "k8ssandra-common.fullname" . }}-controller-manager
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "k8ssandra-common.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels: {{- include "k8ssandra-common.labels" . | indent 8 }}
        control-plane: {{ include "k8ssandra-common.fullname" . }}-controller-manager
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "k8ssandra-common.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          args:
          - --config=/configs/controller_manager_config.yaml
          command:
          - /manager
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: {{ include "k8ssandra-common.flattenedImage" .Values.image }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if or $webhooks $exposeMetrics}}
          ports:
          {{- if $webhooks }}
            - containerPort: 9443
              name: webhook-server
              protocol: TCP
          {{- end }}
          {{- if and $metricsPort (not (eq "127.0.0.1" $metricsHostname )) }}
            - containerPort: {{ $metricsPort }}
              name: metrics
              protocol: TCP
          {{- end }}
          {{- end }}
          volumeMounts:
            {{- if $webhooks }}
            - mountPath: /tmp/k8s-webhook-server/serving-certs
              name: cass-operator-certs-volume
              readOnly: true
            {{- end }}
            - mountPath: /configs
              name: manager-config
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            {{- if .Values.global.clusterScoped }}
            - name: WATCH_NAMESPACE
              value: ""
            {{- else }}
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            {{- end }}
      {{- if .Values.nodeSelector }}
      nodeSelector: {{ toYaml .Values.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.tolerations }}
      tolerations: {{ toYaml .Values.tolerations | nindent 8 }}
      {{- end }}
      volumes:
      {{- if $webhooks }}
        - name: cass-operator-certs-volume
          secret:
            defaultMode: 420
            secretName: {{ include "k8ssandra-common.fullname" . }}-webhook-server-cert
      {{- end }}
        - configMap:
            name: {{ include "k8ssandra-common.fullname" . }}-manager-config
          name: manager-config
