{{- $certmanager := .Capabilities.APIVersions.Has "cert-manager.io/v1" -}}
{{- $webhooks := .Values.admissionWebhooks.enabled -}}
{{- $disableCertManagerCheck := .Values.disableCertManagerCheck -}}

{{- if and $webhooks (not $certmanager) (not $disableCertManagerCheck) -}}
  {{- fail (print "cass-operator webhooks require cert-manager to be installed in the cluster") }}
{{- end -}}
---
{{- if and $webhooks .Values.global.clusterScopedResources }}
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: {{ include "k8ssandra-common.fullname" . }}-validating-webhook-configuration
  labels: {{ include "k8ssandra-common.labels" . | indent 4 }}
  annotations:
    cert-manager.io/inject-ca-from: {{ include "cass-operator.certificateName" . }}
    {{- with include "k8ssandra-common.annotations" . }}
    {{- . | nindent 4 }}
    {{- end }}
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: {{ include "k8ssandra-common.fullname" . }}-webhook-service
      namespace: {{ .Release.Namespace }}
      path: /validate-cassandra-datastax-com-v1beta1-cassandradatacenter
  failurePolicy: Fail
  name: vcassandradatacenter.kb.io
  rules:
  - apiGroups:
    - cassandra.datastax.com
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - cassandradatacenters
  sideEffects: None
{{- end }}
