{{- $certmanager := .Capabilities.APIVersions.Has "cert-manager.io/v1" -}}
{{- $webhooks := .Values.admissionWebhooks.enabled -}}
{{- $disableCertManagerCheck := .Values.disableCertManagerCheck -}}

{{- if and $webhooks (not $certmanager) (not $disableCertManagerCheck) -}}
  {{- fail (print "cass-operator webhooks require cert-manager to be installed in the cluster") }}
{{- end -}}
---
{{ if $webhooks }}
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: {{ include "k8ssandra-common.fullname" . }}-validating-webhook-configuration
  labels: {{ include "k8ssandra-common.labels" . | indent 4 }}
  annotations:
    cert-manager.io/inject-ca-from: {{ include "cass-operator-certificate" . }}
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: {{ include "k8ssandra-common.fullname" . }}-webhook-service
      namespace: {{ .Release.Namespace }}
      path: /validate-cassandra-datastax-com-v1beta1-cassandradatacenter
  failurePolicy: Fail
  name: vcassandradatacenter.kb.io
  rules:
  - apiGroups:
    - cassandra.datastax.com
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - cassandradatacenters
  sideEffects: None
{{ end }}
{{ if $webhooks }}
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ include "k8ssandra-common.fullname" . }}-selfsigned-issuer
  labels: {{ include "k8ssandra-common.labels" . | indent 4 }}
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "k8ssandra-common.fullname" . }}-serving-cert  # this name should match the one appeared in kustomizeconfig.yaml
  labels: {{ include "k8ssandra-common.labels" . | indent 4 }}
spec:
  # $(SERVICE_NAME) and $(SERVICE_NAMESPACE) will be substituted by kustomize
  dnsNames:
    -  {{ include "k8ssandra-common.fullname" . }}-webhook-service.{{ .Release.Namespace }}.svc
    -  {{ include "k8ssandra-common.fullname" . }}-webhook-service.{{ .Release.Namespace }}.svc.cluster.local
  issuerRef:
    kind: Issuer
    name: {{ include "k8ssandra-common.fullname" . }}-selfsigned-issuer
  secretName: {{ include "k8ssandra-common.fullname" . }}-webhook-server-cert # this secret will not be prefixed, since it's not managed by kustomize
{{ end }}
