apiVersion: v2
name: k8ssandra
description: |
  Provisions and configures an instance of the entire K8ssandra stack. This includes Apache Cassandra, Stargate, Reaper, Medusa, Prometheus, and Grafana.
type: application
version: 1.3.0-SNAPSHOT

dependencies:
  - name: cass-operator
    version: 0.29.2
    repository: file://../cass-operator
    condition: cass-operator.enabled

  - name: reaper-operator
    version: 0.31.0
    repository: file://../reaper-operator
    condition: reaper-operator.enabled

  - name: medusa-operator
    version: 0.29.0
    repository: file://../medusa-operator
    condition: medusa.enabled

  - name: k8ssandra-common
    version: 0.28.1
    repository: file://../k8ssandra-common

  - name: kube-prometheus-stack
    version: 12.11.3
    repository: https://prometheus-community.github.io/helm-charts
    condition: kube-prometheus-stack.enabled
home: https://k8ssandra.io/
sources:
  - https://github.com/k8ssandra/k8ssandra
  - https://github.com/k8ssandra/k8ssandra/tree/main/charts/k8ssandra
maintainers:
  - name: K8ssandra Team
    email: k8ssandra-developers@googlegroups.com
    url: https://github.com/k8ssandra
deprecated: false
