apiVersion: v2
name: k8ssandra
description: Configures and provisions the full k8ssandra stack

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.22.0

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
#
# This is set to the C* version that is currently hard coded in the cassdc.yaml template.
appVersion: 3.11.7
dependencies:
  - name: cass-operator
    version: 1.4.1
    # The cass-operator chart lives in https://github.com/datastax/cass-operator. There are
    # changes in master that are needed for K8C-19. For now we will sync (i.e., copy) the
    # cass-operator chart into the charts subdirectory.
    #repository: https://github.com/datastax/cass-operator/tree/master/charts

  - name: kube-prometheus-stack
    version: 12.11.3
    repository: https://prometheus-community.github.io/helm-charts
