# Default values for k8ssandra.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

cass-operator:
  # Namespace-scoped installs are currently not (well) supported.
  # See K8C-19 for details.
  clusterWideInstall: true

  # We need to use an image built from cass-operator master until 1.5
  # is released. See K8C-41 for details
  image: jsanda/cass-operator:a75754989cd29a38dd6406fdb75a5bad010f782d
