name: Test docs build

on:
  pull_request:
    branches:
      - docs-v2
    paths:
      - 'docs/**'

jobs:
  build_and_publish:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./docs
    steps:
    - uses: actions/checkout@v2
      name: Checkout code w/ submodules
      with:
        submodules: recursive
    - uses: actions/setup-node@v2
      name: Setup Node
      with:
        node-version: 14.x
    - run: npm install
    - run: npm run clean
    - run: npm run build:production-v2
